@import "./reset";
@import "./vars";
@import "./base";
@import "./utils";
@import "./classes";

header {
  height: 8rem;
  z-index: 99;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  .logo-brand {
    width: 30px;
  }

  .nav {
    &-item {
      margin-left: 3rem;
    }
  }
}

.hero {
  background: var(--background-banner);
  position: relative;
  height: 586px;
  width: 70vw;
  border-top-right-radius: 480px;
  border-bottom-right-radius: 480px;
  border-bottom-left-radius: 500px;

  &::after {
    z-index: -1;
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background: var(--primary);
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
    left: 90px;
  }

  .banner {
    position: relative;
    &-card {
      font-size: 1.6rem;
      position: absolute;
      right: -20rem;
      background: var(--white);
      padding: 3rem 4rem;
      box-shadow: var(--box-shadow);
      border-top-left-radius: 80px;
      border-bottom-right-radius: 80px;
      border-bottom-left-radius: 80px;

      &::after {
        content: "";
        display: inline-block;
        width: 100px;
        height: 100%;
        background: url("../assets/images/banner-shapes.svg");
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        right: -160px;
      }
    }

    &-desc {
      font-size: 2.2rem;
    }

    &-shapes {
      position: absolute;
      right: 0;
    }
  }
}

//? About section
.about {
  margin-top: 8rem;
  width: 80%;
  background: var(--white);
  padding: 6rem 4rem;
  box-shadow: var(--box-shadow);
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 80px;

  .about-comment {
    &::before {
      content: "“";
      font-size: 10rem;
      display: block;
      line-height: 0;
      margin-top: 4rem;
      margin-bottom: 1rem;
      font-family: var(--font-family-volkhov);
      color: var(--text-hint);
      opacity: 20%;
    }
    p {
      font-size: 1.6rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
    a {
      font-size: 1.2rem;
    }
  }
}
