:root {
  --font-family: "Open Sans", sans-serif;

  --text-color: #252525;
  --text-hint: #757575;
  --white: #ffffff;
  --primary: #1c70e1;
  --pink: #ff6699;
  --background-banner: #030077;
  --background: #fafbfe;
}
